@import 'vars';

body {
  padding: 20px;
  background: #fafafa;
  @media (min-width: 1024px) {
    color: #f4feee;
  }
}

pre {
  color: $color;
  @media (min-width: 1024px) {
    color: red;
  }
}

::placeholder {
  box-sizing: border-box;
}